Repository gamedig/rust-gamedig, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, protocol, games, crate

.github/labeler.yml:

ci:
  - .github/workflows/**
  - .actrc
  - .pre-commit-config.yaml

protocol:
  - src/protocols/**

games:
  - src/games/**

crate:
  - Cargo.toml
  - Cargo.lock

[CI] Fix labeler permission on guest prs (#101)
  .github/workflows/labeler.yml
Labels: ci

[CI] Only run build checks when a rust related file has changed
  .github/workflows/ci.yml
Labels: ci

[Games] Update game definitions to match node-gamedig names
  examples/generic.rs
  src/games/definitions.rs
Labels: games

Update game file names to match definitions
  examples/master_querant.rs
  src/games/ageofchivalry.rs
  src/games/alienswarm.rs
  src/games/arkse.rs
  src/games/ballisticoverkill.rs
  src/games/blackmesa.rs
  src/games/brainbread2.rs
  src/games/codenamecure.rs
  src/games/colonysurvival.rs
  src/games/crysiswars.rs
  src/games/garrysmod.rs
  src/games/insurgency.rs
  src/games/insurgencymic.rs
  src/games/insurgencysandstorm.rs
  src/games/left4dead.rs
  src/games/left4dead2.rs
  src/games/mod.rs
  src/games/przomboid.rs
  src/games/quake3.rs
  src/games/sd2d.rs
  src/games/ship.rs
  src/games/svencoop.rs
  src/games/vrising.rs
  src/protocols/types.rs
Labels: protocol, games

[CI] Only run build checks when a rust related file has changed (#102)
  .github/workflows/ci.yml
Labels: ci

[Games] rename minecraft definitions to better match node
  examples/generic.rs
  src/games/definitions.rs
Labels: games

[Games] Add test that all game files match definition name
  src/games/definitions.rs
Labels: games

[Crate] Remove license-file field due to cargo warning that only one is needed.
  Cargo.toml
Labels: crate
