Repository gamedig/rust-gamedig, pull requests merged in 2023-07, with the labels that each got.

#67 [Games] Add timeout settings for proprietary games
  src/games/ffow.rs
  src/games/jc2mp.rs
  src/games/mod.rs
  src/games/ts.rs
Labels: protocol, game

#70 [CI] Using recommended CI Cargo audit Github action and update serde
  .github/workflows/audit.yml
  .github/workflows/ci.yml
  Cargo.toml
Labels: ci

#69 [Crate] Bump rustfmt version to 1.6.0
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .rustfmt.toml
  VERSIONS.md
  src/errors.rs
Labels: crate

#62 Refactor: Buffer
  CHANGELOG.md
  src/buffer.rs
  src/bufferer.rs
  src/games/ffow.rs
  src/games/jc2mp.rs
  src/lib.rs
  src/protocols/gamespy/protocols/one/protocol.rs
  src/protocols/gamespy/protocols/three/protocol.rs
  src/protocols/gamespy/protocols/two/protocol.rs
  src/protocols/minecraft/protocol/bedrock.rs
  src/protocols/minecraft/protocol/java.rs
  src/protocols/minecraft/protocol/legacy_bv1_8.rs
  src/protocols/minecraft/protocol/legacy_v1_4.rs
  src/protocols/minecraft/protocol/legacy_v1_6.rs
  src/protocols/minecraft/types.rs
  src/protocols/quake/client.rs
  src/protocols/quake/two.rs
  src/protocols/valve/protocol.rs
  src/protocols/valve/types.rs
  src/services/valve_master_server/service.rs
Labels: crate

#79 [Example] Improve generic example
  examples/generic.rs
Labels: documentation
