Repository gamedig/rust-gamedig, pull requests merged in 2023-10, with the labels that each got.

#108 Add CONTRIBUTING.md.
  CONTRIBUTING.md
Labels: repository

#116 Specify the branch name when pushing node badge commits
  .github/workflows/node-badge.yml
Labels: ci

#117 Remove `minecraftping` from game definitions as its useless
  src/games/definitions.rs
Labels: game

#128 feat: Add GatheringSettings on Valve macros
  CHANGELOG.md
  GAMES.md
  examples/generic.rs
  src/games/definitions.rs
  src/games/mod.rs
  src/games/valve.rs
  src/protocols/valve/mod.rs
  src/protocols/valve/types.rs
Labels: protocol, game

#142 feat: Remove SteamApp
  CHANGELOG.md
  src/games/battalion1944.rs
  src/games/definitions.rs
  src/games/mod.rs
  src/games/theship.rs
  src/games/valve.rs
  src/protocols/types.rs
  src/protocols/valve/mod.rs
  src/protocols/valve/protocol.rs
  src/protocols/valve/types.rs
Labels: protocol, game

#143 Fix some game ids and clarify rules 6 and 7.
  .github/badges/node.svg
  CHANGELOG.md
  CONTRIBUTING.md
  examples/generic.rs
  src/games/definitions.rs
  src/games/quake.rs
  src/games/valve.rs
Labels: game

#144 protocols: Only compile game impl macros when they are needed
  src/protocols/gamespy/mod.rs
  src/protocols/quake/mod.rs
  src/protocols/valve/mod.rs
Labels: protocol

#124 Add the unreal2 protocol
  .github/badges/node.svg
  CHANGELOG.md
  Cargo.toml
  GAMES.md
  PROTOCOLS.md
  RESPONSES.md
  src/games/definitions.rs
  src/games/mod.rs
  src/games/unreal2.rs
  src/protocols/mod.rs
  src/protocols/types.rs
  src/protocols/unreal2/mod.rs
  src/protocols/unreal2/protocol.rs
  src/protocols/unreal2/types.rs
Labels: protocol, game, crate
