Repository gamedig/rust-gamedig, pull requests merged in 2023-06, with the labels that each got.

#49 [Crate] Add better documentation for generic game implementation
  src/games/mod.rs
  src/lib.rs
  src/protocols/gamespy/mod.rs
  src/protocols/minecraft/types.rs
  src/protocols/quake/types.rs
  src/protocols/valve/types.rs
Labels: documentation, crate

#54 [Game] Add JC2MP support.
  CHANGELOG.md
  GAMES.md
  examples/master_querant.rs
  src/games/definitions.rs
  src/games/jc2mp.rs
  src/games/mod.rs
  src/protocols/gamespy/mod.rs
  src/protocols/gamespy/protocols/three/protocol.rs
  src/protocols/types.rs
Labels: enhancement, game

#50 [PreCommit] Add clippy and rustfmt pre-commit hooks
  .pre-commit-config.yaml
Labels: crate

#57 [CI] Pin specific rustfmt version
  .github/workflows/ci.yml
Labels: ci

#58 [Crate] Add documentation for where versions need to be updated
  .pre-commit-config.yaml
  README.md
  VERSIONS.md
Labels: crate, ci

#56 Implement generic response with dyn
  examples/generic.rs
  src/games/ffow.rs
  src/games/jc2mp.rs
  src/games/mod.rs
  src/games/ts.rs
  src/lib.rs
  src/protocols/gamespy/mod.rs
  src/protocols/gamespy/protocols/one/types.rs
  src/protocols/gamespy/protocols/three/types.rs
  src/protocols/gamespy/protocols/two/types.rs
  src/protocols/minecraft/types.rs
  src/protocols/quake/one.rs
  src/protocols/quake/two.rs
  src/protocols/quake/types.rs
  src/protocols/types.rs
  src/protocols/valve/protocol.rs
  src/protocols/valve/types.rs
Labels: enhancement, protocol

#60 [Games] Add method to query with timeout options
  examples/generic.rs
  src/games/mod.rs
Labels: enhancement, protocol

#61 [Crate] Swap no_games, no_services for games, services
  Cargo.toml
  src/lib.rs
  src/protocols/types.rs
Labels: crate
