Repository gamedig/rust-gamedig, pull requests merged in 2023-12, with the labels that each got.

#169 feat: add savage 2 support
  CHANGELOG.md
  GAMES.md
  PROTOCOLS.md
  RESPONSES.md
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/mod.rs
  crates/lib/src/games/savage2/mod.rs
  crates/lib/src/games/savage2/protocol.rs
  crates/lib/src/games/savage2/types.rs
  crates/lib/src/protocols/types.rs
Labels: protocol, game

#171 chore: extract jc2m into multiple files
  CHANGELOG.md
  crates/lib/src/games/jc2m/mod.rs
  crates/lib/src/games/jc2m/protocol.rs
  crates/lib/src/games/jc2m/types.rs
Labels: game

#172 chore: extract the ship into multiple files
  crates/lib/src/games/theship/mod.rs
  crates/lib/src/games/theship/protocol.rs
  crates/lib/src/games/theship/types.rs
Labels: game

#173 chore: extract ffow into multiple files
  crates/lib/src/games/ffow/mod.rs
  crates/lib/src/games/ffow/protocol.rs
  crates/lib/src/games/ffow/types.rs
Labels: game

#111 [Test] Add best effort test to validate game ID rules
  .github/badges/node.svg
  CHANGELOG.md
  crates/lib/Cargo.toml
  crates/lib/src/games/definitions.rs
  tests/game_ids.rs
Labels: game

#174 Remove unused manifest key
  Cargo.toml
Labels: crate
