Repository gamedig/rust-gamedig, pull requests merged in 2023-11, with the labels that each got.

#149 feat(unreal2): Add password rule check
  crates/lib/src/protocols/unreal2/protocol.rs
  crates/lib/src/protocols/unreal2/types.rs
Labels: protocol

#152 fix: minecraft id naming inconsistencies
  CHANGELOG.md
  crates/lib/src/games/definitions.rs
  crates/lib/src/protocols/minecraft/protocol/legacy_v1_4.rs
  crates/lib/src/protocols/minecraft/protocol/legacy_vb1_8.rs
  crates/lib/src/protocols/minecraft/protocol/mod.rs
  crates/lib/src/protocols/minecraft/types.rs
Labels: protocol, game

#153 Move minecraft protocol to games.
  CHANGELOG.md
  crates/lib/examples/minecraft.rs
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/minecraft/mod.rs
  crates/lib/src/games/minecraft/protocol/bedrock.rs
  crates/lib/src/games/minecraft/protocol/java.rs
  crates/lib/src/games/minecraft/protocol/legacy_v1_4.rs
  crates/lib/src/games/minecraft/protocol/legacy_v1_6.rs
  crates/lib/src/games/minecraft/protocol/legacy_vb1_8.rs
  crates/lib/src/games/minecraft/protocol/mod.rs
  crates/lib/src/games/minecraft/types.rs
  crates/lib/src/games/mod.rs
  crates/lib/src/protocols/minecraft/mod.rs
  crates/lib/src/protocols/mod.rs
  crates/lib/src/protocols/types.rs
Labels: protocol, game

#158 protocols: Add connect timeout to TimeoutSettings
  CHANGELOG.md
  crates/lib/examples/generic.rs
  crates/lib/examples/valve_protocol_query.rs
  crates/lib/src/games/minecraft/protocol/bedrock.rs
  crates/lib/src/games/minecraft/protocol/java.rs
  crates/lib/src/games/minecraft/protocol/legacy_v1_4.rs
  crates/lib/src/games/minecraft/protocol/legacy_v1_6.rs
  crates/lib/src/games/minecraft/protocol/legacy_vb1_8.rs
  crates/lib/src/protocols/gamespy/protocols/one/protocol.rs
  crates/lib/src/protocols/gamespy/protocols/three/protocol.rs
  crates/lib/src/protocols/gamespy/protocols/two/protocol.rs
  crates/lib/src/protocols/quake/client.rs
  crates/lib/src/protocols/types.rs
  crates/lib/src/protocols/unreal2/protocol.rs
  crates/lib/src/protocols/valve/protocol.rs
  crates/lib/src/services/valve_master_server/service.rs
  crates/lib/src/socket.rs
Labels: protocol, game

#156 ci: Update node coverage badge to work without games.txt
  .github/badges/node.svg
  .github/workflows/node-badge.yml
  .github/workflows/scripts/node-badge.mjs
Labels: ci

#161 [CI] Improvement and fixes
  .actrc
  .github/.act-event.json
  .github/workflows/audit.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  crates/lib/Cargo.toml
  crates/lib/src/protocols/types.rs
Labels: protocol, ci

#159 Various improvements for the CLI
  CHANGELOG.md
  crates/cli/Cargo.toml
  crates/cli/src/error.rs
  crates/cli/src/main.rs
  crates/lib/Cargo.toml
  crates/lib/src/games/minecraft/types.rs
  crates/lib/src/protocols/gamespy/mod.rs
  crates/lib/src/protocols/quake/types.rs
  crates/lib/src/protocols/types.rs
Labels: protocol, game, cli
