Repository gamedig/rust-gamedig, pull requests merged in 2023-09, with the labels that each got.

#91 Fix Minecraft Java query not being able to specify a hostname
  examples/master_querant.rs
  examples/minecraft.rs
  src/games/mc.rs
  src/games/mod.rs
  src/protocols/minecraft/protocol/java.rs
  src/protocols/minecraft/protocol/mod.rs
  src/protocols/minecraft/types.rs
  src/socket.rs
Labels: bug, enhancement, protocol

#93 [Generic] Add struct for all extra request settings
  .pre-commit-config.yaml
  CHANGELOG.md
  examples/generic.rs
  src/games/mod.rs
  src/protocols/minecraft/protocol/mod.rs
  src/protocols/minecraft/types.rs
  src/protocols/mod.rs
  src/protocols/types.rs
  src/protocols/valve/types.rs
Labels: enhancement

#97 Add github PR labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: ci

#101 Fix labeler permission on guest prs
  .github/workflows/labeler.yml
Labels: ci

#102 [CI] Only run build checks when a rust related file has changed
  .github/workflows/ci.yml
Labels: ci

#103 [CI] Fix misc stuff with labeler CI
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: ci

#99 [CI] Add node comparison badge
  .github/badges/.gitkeep
  .github/badges/node.svg
  .github/workflows/node-badge.yml
  README.md
Labels: ci

#107 [Protocol] Make gamespy1 parsing less likely to fail
  src/protocols/gamespy/protocols/one/protocol.rs
  src/protocols/gamespy/protocols/one/types.rs
Labels: protocol
