Repository gamedig/rust-gamedig, pull requests merged in 2024-10, with the labels that each got.

#225 Fix: try to match port on epic protocol
  crates/lib/src/protocols/epic/protocol.rs
Labels: protocol

#229 ci: fix audit failing by generating cargo lock file before running it
  .github/workflows/audit.yml
Labels: ci

#218 feat: minetest support
  GAMES.md
  RESPONSES.md
  crates/lib/CHANGELOG.md
  crates/lib/src/games/minetest/mod.rs
  crates/lib/src/games/minetest/protocol.rs
  crates/lib/src/games/minetest/types.rs
  crates/lib/src/games/mod.rs
  crates/lib/src/games/query.rs
  crates/lib/src/protocols/types.rs
  crates/lib/src/services/minetest_master_server/types.rs
Labels: protocol, game
