Repository gamedig/rust-gamedig, pull requests merged in 2024-02, with the labels that each got.

#182 Add packet capture functionality and many more CLI improvements
  .github/workflows/release.yml
  Cargo.toml
  crates/cli/Cargo.toml
  crates/cli/src/error.rs
  crates/cli/src/main.rs
  crates/lib/Cargo.toml
  crates/lib/src/capture/mod.rs
  crates/lib/src/capture/packet.rs
  crates/lib/src/capture/pcap.rs
  crates/lib/src/capture/socket.rs
  crates/lib/src/capture/writer.rs
  crates/lib/src/games/mindustry/protocol.rs
  crates/lib/src/lib.rs
  crates/lib/src/socket.rs
Labels: game, crate, ci, cli

#175 feat: http client and eco support
  CHANGELOG.md
  crates/lib/Cargo.toml
  crates/lib/examples/test_eco.rs
  crates/lib/src/errors/kind.rs
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/eco/mod.rs
  crates/lib/src/games/eco/protocol.rs
  crates/lib/src/games/eco/types.rs
  crates/lib/src/games/mod.rs
  crates/lib/src/games/query.rs
  crates/lib/src/http.rs
  crates/lib/src/lib.rs
  crates/lib/src/protocols/types.rs
Labels: protocol, game

#189 feat: add black ops 3 support
  CHANGELOG.md
  GAMES.md
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/valve.rs
Labels: game
